<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>


<link rel="stylesheet" href="{{ "css/print_style.css" }}" media="print" />
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" }}">
<link rel="stylesheet" href="{{ "css/bootstrap-theme.min.css" }}">
<link rel="stylesheet" href="{{ "css/font-awesome.min.css" }}">
<link rel="stylesheet" href="{{ "css/owl.carousel.min.css" }}">
<link rel="stylesheet" href="{{ "css/owl.theme.default.min.css" }}">
<link rel="stylesheet" href="{{ "css/meanmenu.css">
<link rel="stylesheet" href="{{ "css/selectric.css" }}">
<link rel="stylesheet" href="{{ "css/easy-responsive-tabs.css" }}">
<link rel="stylesheet" href="{{ "css/jquery.mCustomScrollbar.css" }}" />
<link rel="stylesheet" href="{{ "css/accordion-style.css" }}">
<link rel="stylesheet" href="{{ "css/nav_style.css" }}">
<link rel="stylesheet" href="{{ "css/style.css" }}">
<link rel="stylesheet" href="{{ "css/responsive.css" }}">



