<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{page.type}}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<meta name="StartPage" content="dev" />
<meta name="Version" content="1.1" />
<meta name="Persona" content="Developers" />
<title>{{ page.title }}</title>



<!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="{{ "css/modern-business.css" }}">
<link rel="stylesheet" href="{{ "css/lavish-bootstrap.css" }}">
<link rel="stylesheet" href="{{ "css/customstyles.css" }}">
<link rel="stylesheet" href="{{ "css/theme-blue.css" }}">
<link rel="stylesheet" href="{{ "css/rating-stars.css" }}">
<link rel="stylesheet" href="{{ "css/prettyPhoto.css" }}">
<link rel="stylesheet" href="{{ "css/site.css" }}">
<link rel="stylesheet" href="{{ "css/jquery-ui.css" }}">
<link rel="stylesheet" href="{{ "css/layout-default.css" }}">-->
<link href="{{ "css/print_style.css" }}" rel="stylesheet" type="text/css" media="print" />
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" }}" type="text/css">
<link rel="stylesheet" href="{{ "css/bootstrap-theme.min.css" }}" type="text/css">
<link rel="stylesheet" href="{{ "css/font-awesome.min.css" }}" type="text/css">
<link rel="stylesheet" href="{{ "css/owl.carousel.min.css" }}">
<link rel="stylesheet" href="{{ "css/owl.theme.default.min.css" }}">
<link rel="stylesheet" href="{{ "css/meanmenu.css" type="text/css" }}">
<link rel="stylesheet" href="{{ "css/selectric.css" }}">
<link rel="stylesheet" href="{{ "css/easy-responsive-tabs.css" }}">
<link rel="stylesheet" href="{{ "css/jquery.mCustomScrollbar.css" }}" />
<link rel="stylesheet" href="{{ "css/accordion-style.css" }}">
<link rel="stylesheet" href="{{ "css/nav_style.css" }}">
<link rel="stylesheet" href="{{ "css/style.css" }}" type="text/css">
<link rel="stylesheet" href="{{ "css/responsive.css" }}" type="text/css">
<link rel="stylesheet" href="{{ "css/prettyPhoto.css" }}">
<link rel="stylesheet" href="css/styles1.css" type="text/css">


<script type="text/javascript" src="{{ "js/jquery-1.9.1.min.js" }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{ "js/jquery.navgoco.min.js" }}"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">
	var checkif = 'yes';
</script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="{{ "js/picturefill.js" }}"></script>
<script src="{{ "js/jquery.prettyPhoto.js" }}"></script>
<script src="{{ "js/customscripts.js" }}"></script>
<script src="{{ "js/jquery-ui.js" }}"></script>
<script src="{{ "js/jquery.layout.js" }}"></script>
<script src="{{ "js/wiselinks-1.2.2.min.js" }}"></script>
<script src="{{ "js/toc.js" }}"></script>-->


<script src="{{ "js/owl.carousel.js" }}"></script>
<script src="{{ "js/tether.min.js" }}"></script>
<script type="text/javascript" src="{{ "js/bootstrap.min.js" }}"></script>
<script type="text/javascript" src="{{ "js/jquery.meanmenu.js" }}"></script>
<script src="{{ "js/jquery.selectric.js" }}"></script>
<script src="{{ "js/easyResponsiveTabs.js" }}"></script>
<script src="{{ "js/jquery-scrolltofixed.js" }}"></script>
<script type="text/javascript" src="{{ "js/cascadingDivs.min.js" }}"></script>
<script type="text/javascript" src="{{ "js/jquery.matchHeight.js" }}"></script>

<script type="text/javascript" src="{{ "js/jquery-equal-height.js" }}"></script>

<script type="text/javascript" src="{{ "js/jspdf.min.js" }}"></script>

<script type="text/javascript" src="{{ "js/html2canvas.min.js" }}"></script>

<script src="{{ "js/accordion-main.js" }}"></script>
<script src="{{ "js/jquery.mCustomScrollbar.concat.min.js" }}"></script>
<script src="{{ "js/menu.js" }}"></script>
<script src="{{ "js/jquery.history.js" }}"></script>
<script src="{{ "js/picturefill.js" }}"></script>
<script src="{{ "js/jquery.prettyPhoto.js" }}"></script>
<script src="{{ "js/jquery-scrolltofixed.js" }}"></script>
<script src="{{ "js/customscripts.js" }}"></script>
<script src="{{ "js/main.js" }}"></script>
<link rel="shortcut icon" href="{{ "images/favicon.ico"  }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">

