1. Launch **Kibana** in your web browser using the URL http://manage.qa-eu1.riversand-dataplatform.com:5601/app/kibana.

{% picture kibana_app_ui.png alt="Kibana User Interface" %} 

{:start="2"}

2. Click **Discover > filebeat_ > Available Fields** and add the required fields to monitor from the Available Fields list. There are few default fields that are found in the available fields list. To add a field from the **Available Fields list to Selected Fields list**, select the field and right click and choose **Add**. The added fields appears under Selected Fields. See [Kibana Profile Manager Configuration](m_profile_manager_config.html) to understand all required fields and its usage.

{% picture kibana_app_add_field.png alt="Adding a new field" %} 

{% picture kibana_app_selected_field.png alt="Added the field into Selected Fields list" %} 

Further, if you wish to investigate based on additional metrics, you can use various dashboards. 

{:start="3"}

3. Click **Dashboard** and **Open** the available set of dashboards. In the dashboard, you can view the details in two ways; in a summary chart and in a tabular format.

{% picture kibana_dashboard.png alt="Opening dashboards" %}