<div>
	<p>These are the list of keywords used for entity level operations. Example: You can use the keyword <b>GetEntityProperty</b> to get the value of the specified property from the current entity.
	</p>
	<ul>
		<li><a href="ddg_core_keyword_AddToContext.html">AddToContext</a></li>
		<li><a href="ddg_core_keyword_ChangeWorkflow.html">ChangeAssignment</a></li>
		<li><a href="ddg_core_keyword_ContextHaveErrors.html">ContextHaveErrors</a></li>
		<li><a href="ddg_core_keyword_GetContextPath.html">GetContextPath</a></li>
		<li><a href="ddg_core_keyword_GetEntityId.html">GetEntityId</a></li>
		<li><a href="ddg_core_keyword_GetEntityType.html">GetEntityType</a></li>
		<li><a href="ddg_core_keyword_GetEntityVersion.html">GetEntityVersion</a></li>
		<li><a href="ddg_core_keyword_GetEntityName.html">GetEntityName</a></li>
		<li><a href="ddg_core_keyword_GetEntityProperty.html">GetEntityProperty</a></li>
		<li><a href="ddg_core_keyword_HaveContextLinks.html">HaveContextLinks</a></li>
		<li><a href="ddg_core_keyword_HaveErrorsInContext.html">HaveErrorsInContext</a></li>
		<li><a href="ddg_core_keyword_InitiateExport.html">InitiateExport</a></li>
		<li><a href="ddg_core_keyword_InvokeWorkflow.html">InvokeWorkflow</a></li>
		<li><a href="ddg_core_keyword_IsEntityInWorkflow.html">IsEntityInWorkflow</a></li>
		<li><a href="ddg_core_keyword_ResumeWorkflow.html">ResumeWorkflow</a></li>
		<li><a href="ddg_core_keyword_SetEntityProperty.html">SetEntityProperty</a></li>
		<li><a href="ddg_core_keyword_SendEntityForGraphProcessing.html">SendEntityForGraphProcessing</a></li>
	</ul>
</div>