<div>
	<p>These are the list of keywords used for entity relationship operations. Example: You can use the keyword <b>HaveRelationships</b> to check if the entity has a specified relationship or not.
	</p>
	<ul>		
		<li><a href="ddg_core_keyword_AreRelationshipsDeleted.html">AreRelationshipsDeleted</a></li>
		<li><a href="ddg_core_keyword_CheckIfAllRelationshipAttributeValueIs.html">CheckIfAllRelationshipAttributeValueIs</a></li>
		<li><a href="ddg_core_keyword_CheckIfAnyRelationshipAttributeValueIs.html">CheckIfAnyRelationshipAttributeValueIs</a></li>
		<li><a href="ddg_core_keyword_CheckIfAllRelatedEntityAttributeValueIs.html">CheckIfAllRelatedEntityAttributeValueIs</a></li>
		<li><a href="ddg_core_keyword_CheckIfAnyRelatedEntityAttributeValueIs.html">CheckIfAnyRelatedEntityAttributeValueIs</a></li>
		<li><a href="ddg_core_keyword_GetRelatedEntityId.html">GetRelatedEntityId</a></li>
		<li><a href="ddg_core_keyword_GetRelatedEntityIdForContext.html">GetRelatedEntityIdForContext</a></li>
		<li><a href="ddg_core_keyword_GetRelatedEntityIds.html">GetRelatedEntityIds</a></li>
		<li><a href="ddg_core_keyword_GetRelatedEntityIdsForContext.html">GetRelatedEntityIdsForContext</a></li>
		<li><a href="ddg_core_keyword_HaveRelationships.html">HaveRelationships </a></li>
		<li><a href="ddg_core_keyword_HaveRelationshipsInContext.html">HaveRelationshipsInContext </a></li>
		<li><a href="ddg_core_keyword_HaveRelationshipChanged.html">HaveRelationshipChanged</a></li>
		<li><a href="ddg_core_keyword_RelationshipsHaveErrorsInContext.html">RelationshipsHaveErrorsInContext</a></li>
		<li><a href="ddg_core_keyword_RelationshipCountInContext.html">RelationshipCountInContext</a></li>
		<li><a href="ddg_core_keyword_SetRelatedEntityAttributeValue.html">SetRelatedEntityAttributeValue </a></li>
		<li><a href="ddg_core_keyword_SetRelatedEntityAttributeValueForContext.html">SetRelatedEntityAttributeValueForContext</a></li>
		<li><a href="ddg_core_keyword_SendRelatedEntitiesForGraphProcessing.html">SendRelatedEntitiesForGraphProcessing</a></li>
		<li><a href="ddg_core_keyword_ValidateEmptyRelationshipAttributes.html">ValidateEmptyRelationshipAttributes</a></li>
		<li><a href="ddg_core_keyword_ValidateEmptyAttributesForRelatedEntities.html">ValidateEmptyAttributesForRelatedEntities</a></li>
		<li><a href="ddg_core_keyword_ValidateEmptyAttributesForRelatedEntitiesInContext.html">ValidateEmptyAttributesForRelatedEntitiesInContext</a></li>
		<li><a href="ddg_core_keyword_WhereUsedRelationship.html">WhereUsedRelationship</a></li>
	</ul>
</div>
