<div class="panel-group" id="reports">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">More Actions on Selected Entities</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">            	
               <ul>
					You can further perform these actions on selected entities with the help of following options provided:

					<li><b>Bulk Edit Selected Entities</b><img src="Images/App/bulk-edit-selected-entities-icon.png"/>: Provides an option to bulk edit selected entities report list.</li>

					<li><b>Open Entities in Entity Explorer</b><img src="Images/App/onen-entities-in-entity-explorer-icon.png"/>: Provides an option to open the selected entities in the Entity Explorer page. In Entity Explorer, you can perform necessary actions on the selected entities. To know more about actions that can be performed on entities from the Entity Explorer page, see <a href="perform-basic-actions-entities.html">Perform Basic Actions on Entities</a></li>
				</ul>
				<div>
					<p>
					If you wish to select entities in all the pages, you can click the check box in the header row and choose "All pages" option.
					</p>
					{% picture jig-more-actions.png alt="Select Entities" %}
					<p>
					To open entities in the Entity Explorer page, first select the required entities from the table and then click on Entity Explorer icon.
					</p>
					<p class="NoteParagraph"><b>Note</b>: To open the entities in <b>Entity Explorer</b>, you must filter out the entities of entity type 'Category' manually. Only the entities with the entity type other than 'Category' are displayed in the <b>Entity Explorer</b> page.</p>

					{% picture mm-open-select-entities-ee.png alt="Open Select Entities" %}
					<p>
					<b>Result</b>: The selected entities are displayed in the <b>Search Results</b> grid of the <b>Entity Explorer</b> page.
					</p>
					{% picture jig-more-action-result.png alt="Entities in Entity Explorer" %}
				</div>
            </div>
        </div>
    </div>
  </div>  