You can work on a workflow created anywhere by importing it into the application. The workflow files are stored as *.xaml files in the application. Hence, you can import any .xaml file into the workflow designer and work on it.

* Click **Import** in the toolbar.

* Navigate to the folder, and then select the .xaml file from the **Open** dialog box.

{% picture imprt_wrkflw_clk_imprt_rslt_slct_xaml_fl.png alt="Import Select File" %}

* Click **Open** to include it.

**Result**: The imported .xaml file appears as a flowchart in the **Workflow Designer** page.

{% picture imprt_wrkflw_clk_imprt_rslt_slct_xaml_fl_rslt_xaml_fl_imprtd.png alt="Imported Workflow" %}