Type: String
Indicates the locale. You can specify one of the following values:
<ul>
  <li>_DEFAULT: If you specify the locale as _DEFAULT, then the default locale as specified in the tenant config is considered. </li> 
  <li>"": If you specify an empty string in the locale, then the first locale code retrieved is considered.</li>
   <li>&lt;&lt;<i>LocaleCode</i>&gt;&gt;: If you specify a valid <a href="https://en.wikipedia.org/wiki/IETF_language_tag" target="_blank">IETF</a> locale format, then the locale as specified in the <i>LocaleCode</i> is considered.</li>
</ul>
