* Click **Publish** in the toolbar.

**Result**: The **Enter Workflow Details** dialog is displayed.

{% picture R7_pblsh_wrkflw_wrkflw_dsgnr_dsplys_clk_pblsh_entr_wrkflw_dtls_wndw.png alt="Workflow Details" %}

* Enter the **Workflow Version Name** and the **Comments**.

{% picture R7_pblsh_wrkflw_wrkflw_dsgnr_dsplys_clk_pblsh_entr_wrkflw_dtls_wndw_entr_vlus.png alt="Workflow Details" %}

* Click **OK** to publish the workflow.

**Result**: The confirmation message, **Workflow published successfully** appears in a pop up window.

{% picture pblsh_wrkflw_wrkflw_pblshd_msg_pop_up.png alt="Publish Workflow" %}

{% include callout.html content="**Note**: When you publish the same workflow, you have to enter a new version name in the **Workflow Version Name** field in the **Enter Workflow Details** window.
" type="primary" %}